.button-glass {
  position: relative;
  width: 300px;
  height: 52px;
  box-shadow: inset 0px -4px 6px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 0px 20px;
  border-radius: 20px;
  overflow: hidden;
  background: #eee;
  display: block;
  transition: all ease 0.1s;
  border: none;
  font-family: Avenir;
  font-size: 15px!important;
}

.button-glass:after {
  top: -20px;
  left: 0px;
  content: "";
  position: absolute;
  width: 300px;
  height: 58px;
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.2) 100%);
  border-radius: 300px;
}

.button-glass p {
  position: relative;
  text-align: center;
  color: #666;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
  margin: 24px;
  font-size: 18px;
  text-align: center;
}

.button-glass.big {
  height: 300px;
}

.button-glass.big:after {
  top: -180px;
  left: -130px;
  width: 550px;
  height: 400px;
}

.button-glass:active {
  transform: translateY(3px);
}

.button-glass:hover {
  cursor: pointer;
}

/* Icons */

.button-glass.big .icon {
  text-align: center;
  font-family: MiiverseSymbols;
  font-size: 150px;
  text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;
  z-index: 2;
  text-align: center;
}


/* TILES */

.glass-tile {
  position: relative;
  width: 90%;
  box-shadow: inset 0px -4px 6px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
  background: #eee;
  display: block;
  transition: all ease 0.1s;
}

.glass-tile:after {
  top: -50px;
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.2) 100%);
  border-radius: 300px;
}

.glass-tile.black {
  background: #474747;
  color: #eee !important;;
}

.glass-tile.black:after {
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.03) 100%);
}

