/* FONTS */

@font-face {
    font-family: 'MiiverseSymbols';
    src: url('https://file.garden/aBYNKv3Z2mTSjZCk/MiiverseSymbols-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ArialRoundedBold';
    src: url('../fonts/ArialRoundedBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Medium.ttf') format('truetype');
}

/* STYLES */

body {
    margin: 0;
    padding: 0;
    font-family: Avenir, Arial, sans-serif;
    overflow-x: hidden;
}

nav {
    background: linear-gradient(180deg, rgba(0, 138, 230, 1) 0%, rgba(56, 162, 194, 1) 23%, rgba(43, 194, 83, 1) 83%, rgba(7, 168, 50, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#008AE6", endColorstr="#07A832", GradientType=0);
    color: black;
    height: 40px;
    display: flex;
    animation: alternate-colors ease-in-out 5s infinite;
}

nav a {
    color: white;
    text-decoration: none;
    align-self: center;
    padding: 0px 15px;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

nav a:hover {
    text-decoration: underline;
}

.logo {
    width: 100px;
    height: auto;
}

.hero-logo {
    width: 300px;
    height: auto;
    margin-left: 20px;
    display: block;
    margin-bottom: 20px;
}

.hero h1 {
    display: flex;
    font-weight: normal;
    margin-bottom: 2px;
}

.hero h1 img {
    height: 1.5em;
    margin-left: 10px;
    position: relative;
    top: -10px;
}

.hero h1 * {
    align-self: center;
}

.hero {
    padding: 20px;
    width: 100%;
    padding-bottom: 40px;
    background: linear-gradient(180deg, #ddd, rgba(0, 0, 0, 0) 100%); 
}

footer {
    width: -webkit-fill-available;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    color: #aaa;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.2); 
    margin-top: 40px;
}

footer * {
    align-self: center;
}

footer a {
    padding: 0px 10px;
    color: #aaa;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #666;
}

footer p {
    margin: 0;
    padding-bottom: 20px
}

/* DOWNLOAD */

table {
    width: 95%;
    padding: 10px;
    margin: auto;
    border-radius: 12px;
    font-family: 'Avenir';
}

th, td {
    padding: 10px;
    text-align: left;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

th {
    font-size: 20px;
    color: #1BAB94;
}

td {
    color: #222;
    font-size: 13px;
    font-weight: light;
}

td a {
    color: #222;
    text-decoration: none;
    transition: color 0.3s ease;
    transition: all ease 0.3s;
}

td a:hover {
    text-decoration: underline;
    color: #333;
}

/* DOCUMENTATION */

.about {
    padding: 20px;
    background: radial-gradient(100% 100% at 50% 0%, rgba(113, 113, 113, 0.4) 50%, rgba(183, 183, 183, 0.4) 100%);
    border-radius: 12px;
    box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.25), inset 0px -2px 0px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.25));
    margin: 20px auto;
    width: 80%;
    position: relative;
    overflow: hidden;
}

.about:after {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 100px;
    background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
    border-radius: 12px;
    pointer-events: none;
    border-radius: 100px;
    z-index: -1;
}

/* FEATURES TAB */

#features {
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
}

#select {
    display: flex;
}